Missing datagram-size check required by RFC 9000

RFC 9000 § 14.1 provides:  "A server MUST discard an Initial packet that is carried in a UDP datagram with a payload that is smaller than the smallest allowed maximum datagram size of 1200 bytes."

There does not appear to be any such check in the code.  Indeed, I ran the HTTP/3 test example and then connected with a modified client that does not pad the initial packet, and I nevertheless was able to download the "Hello, HTTP/3!" content.

As explained in the standard, this is an important check to avoid amplification attacks.

@georgewilliamfoster  a commit has been pushed for this:

https://github.com/lxin/quic/commit/e78e4e5bce788187a2738d49977362fa611b303d

Feel free to check.

Thanks for your report.

Thank you for the fast response!  I just tested, and it works: a socket gets accepted but errs out right away with a "socket recvmsg error 107."

Marking this fixed.  Unrelated, let me know if you need help with any gruntwork getting this upstreamed (e.g., benchmarking userspace vs in-kernel, writing more tests, etc.).

In my opinion, just try using this module. Maybe add it to another software, like I try with curl. You will find compatibility bugs and sometimes they are in the kernel module and not in the user space software.